@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #195de6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0f1115;
  --font-display: Inter, sans-serif;
}

body {
  font-family: var(--font-display);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(157, 166, 184, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 166, 184, 0.4);
}